<div class="min-h-screen bg-mist-100">
  
  <div class="flex justify-between items-center px-4 py-3 bg-cream-100 shadow-sm">

    <button 
      class="px-4 py-2 bg-secondary-300 text-slate-800 rounded-md hover:bg-secondary-400 focus:outline-none focus:ring-2 focus:ring-primary-500"
      (click)="onBack()">
      Back
    </button>

    <div class="space-x-4">

      <button 
        class="px-4 py-2 bg-teal-500 text-cream-100 rounded-md hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-500"
        (click)="onConnect()">
        Connect
      </button>

      <button 
        class="px-4 py-2 bg-coral-500 text-cream-100 rounded-md hover:bg-coral-600 focus:outline-none focus:ring-2 focus:ring-coral-500"
        (click)="onDisconnect()">
        Disconnect
      </button>

      <button 
        type="submit" 
        form="deployForm"
        [disabled]="deployForm.invalid"
        class="px-4 py-2 bg-primary-500 text-cream-100 rounded-md hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 disabled:bg-slate-400 disabled:cursor-not-allowed">
        Save
      </button>

    </div>

  </div>

  <!-- Form -->

  <div class="px-4 py-6">

    <form id="deployForm" [formGroup]="deployForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full">
  
      <!-- Name and Description -->
      <div class="flex flex-col md:flex-row gap-7">
        <div class="flex-1">
    <label for="name" class="block text-sm font-medium text-slate-700">Name</label>
    <input 
      id="name" 
      formControlName="name" 
      type="text" 
      class="mt-1 block w-full px-3 py-2 border 
      border-taupe-300 rounded-md shadow-sm focus:outline-none 
      focus:ring-primary-500 focus:border-primary-500"
      [ngClass]="{'border-coral-500': deployForm.get('name')?.invalid && deployForm.get('name')?.touched}">

    <div *ngIf="deployForm.get('name')?.invalid && deployForm.get('name')?.touched" class="text-coral-500 text-sm mt-1">
      Name is required
    </div>
  </div>

  <div class="flex-1">
    <label for="description" class="block text-sm font-medium text-slate-700">
      Description <span class="text-sm font-medium text-slate-400">(Optional)</span>
    </label>
    <textarea
      id="description"
      formControlName="description"
      class="mt-1 block w-full px-3 py-2 border 
      border-taupe-300 rounded-md shadow-sm focus:outline-none 
      focus:ring-primary-500 focus:border-primary-500"
      [ngClass]="{'border-coral-500': deployForm.get('description')?.invalid && deployForm.get('description')?.touched}">
    </textarea>
  </div>
</div>


      <!--  Deploy Type and Protocol Type -->
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1">
          <label for="deployType" class="block text-sm font-medium text-slate-700">Deploy Type</label>
          <select 
            id="deployType" 
            formControlName="deployType" 
    
            class="mt-1 block w-full px-3 py-2 border border-taupe-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
            [ngClass]="{'border-coral-500': deployForm.get('deployType')?.invalid && deployForm.get('deployType')?.touched}">
            <option value="" disabled>Select Deploy Type</option>
            <option value="Frontend">Frontend</option>
            <option value="Backend">Backend</option>
          </select>

          <div *ngIf="deployForm.get('deployType')?.invalid && deployForm.get('deployType')?.touched" class="text-coral-500 text-sm mt-1">
            Deploy Type is required
          </div>

        </div>
        <div class="flex-1">
          <label for="type" class="block text-sm font-medium text-slate-700">Protocol Type</label>

          <select 
            id="type" 
            formControlName="type" 
            class="mt-1 block w-full px-3 py-2 border border-taupe-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
            [ngClass]="{'border-coral-500': deployForm.get('type')?.invalid && deployForm.get('type')?.touched}">
            <option value="" disabled>Select Protocol Type</option>
            <option value="SFTP">SFTP</option>
            <option value="SCP">SCP</option>
          </select>

          <div *ngIf="deployForm.get('type')?.invalid && deployForm.get('type')?.touched" class="text-coral-500 text-sm mt-1">
            Protocol Type is required
          </div>
        </div>
      </div>

      <!--  Deployment Location and IP Address -->
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1">
          <label for="scriptLocation" class="block text-sm font-medium text-slate-700">Deployment Location</label>
          <select 
            id="scriptLocation" 
            formControlName="scriptLocation" 
            (change)="updateLabel()"
            class="mt-1 block w-full py-2 border border-taupe-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
            [ngClass]="{'border-coral-500': deployForm.get('scriptLocation')?.invalid && deployForm.get('scriptLocation')?.touched}">
            
            <option value="" disabled>Select Deployment Location</option>
        <option value="AWS">AWS</option>
            <option value="Azure">Azure</option>
            <option value="GCP">GCP</option>
            <option value="Linux Server">VM</option>
            <option value="Custom">Custom</option>
          </select>
          <div *ngIf="deployForm.get('scriptLocation')?.invalid && deployForm.get('scriptLocation')?.touched" class="text-coral-500 text-sm mt-1">
            Deployment Script Location is required
          </div>
        </div>
        <div class="flex-1">
          <!-- <label for="ipAddress" class="block text-sm font-medium text-slate-700">{{ isCloudType(deploymentType) ? 'Host' : 'IP Address' }}</label> -->
          <label for="ipAddress" class="block text-sm font-medium text-slate-700">{{ipLabel }} </label>
          <input 
            id="ipAddress" 
            formControlName="ipAddress" 
            type="text" 
            class="mt-1 block w-full px-3 py-2 border border-taupe-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
            [ngClass]="{'border-coral-500': deployForm.get('ipAddress')?.invalid && deployForm.get('ipAddress')?.touched}">


          <div *ngIf="deployForm.get('ipAddress')?.invalid && deployForm.get('ipAddress')?.touched" class="text-coral-500 text-sm mt-1">
            <div *ngIf="deployForm.get('ipAddress')?.errors?.['required']">IP Address is required</div>
            <div *ngIf="deployForm.get('ipAddress')?.errors?.['pattern']">Enter a valid IP Address</div>
          </div>

        </div>
      </div>

      <!-- Username and Password -->
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1">
          <label for="username" class="block text-sm font-medium text-slate-700">Username</label>
          <input 
            id="username" 
            formControlName="username" 
            type="text" 
            class="mt-1 block w-full px-3 py-2 border border-taupe-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
            [ngClass]="{'border-coral-500': deployForm.get('username')?.invalid && deployForm.get('username')?.touched}"
          >
          <div *ngIf="deployForm.get('username')?.invalid && deployForm.get('username')?.touched" class="text-coral-500 text-sm mt-1">
            Username is required
          </div>
        </div>
        <div class="flex-1">
          <label for="password" class="block text-sm font-medium text-slate-700">Password</label>
          <input 
            id="password" 
            formControlName="password" 
            type="password" 
            class="mt-1 block w-full px-3 py-2 border border-taupe-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
            [ngClass]="{'border-coral-500': deployForm.get('password')?.invalid && deployForm.get('password')?.touched}"
          >
          <div *ngIf="deployForm.get('password')?.invalid && deployForm.get('password')?.touched" class="text-coral-500 text-sm mt-1">
            Password is required
          </div>
        </div>
      </div>

    </form>

  </div>
  
</div>